<% if @user.nil? %>
<p>user not found</p>
<% else %>
<%= render partial: "shared/user", locals: { user: @user } %>
<br>
<div class="bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<% @posts.each do |post| %>
    <%= render partial: "shared/post", locals: { post: post } %>
<% end %>
<div class="see-all-posts"> 
  <button>See all post</button> 
</div>       
<% end %>