/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 85%;
  margin: auto;
}

.users-header {
  text-align: center;
  margin: 20px 0 75px 0;
  font-size: 40px;
}

.user {
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 100px;
}

.user-profile-img {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  box-shadow: 5px 10px;
}

.user-number-posts {
  margin-left: auto;
  margin-right: 200px;
}

.nav-button {
  padding: 5px;
  margin: 50px 0 50px 100px;
  background-color: rgb(163, 184, 163);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.post-detail-button,
.back-to-posts-button {
  margin: 10px 0 0 0;
}

.users-back-button,
.see-all-posts-button {
  margin: 20px 0 50px 0;
}

.log-out-button {
  margin: 20px 0 0 0;
  background-color: yellow;
}

.nav-button:hover {
  box-shadow: 0 0 10px 10px rgba(12, 73, 48, 0.24);
  background: white;
  color: #1d6346;
  transform: scale(1.2);
}

.user-bio {
  margin: 30px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.post {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.post-commentsandlikes {
  font-weight: bold;
  margin-top: 20px;
}

.dashed-line {
  border-bottom: 1px dashed black;
  margin: 10px 0;
}

.see-all-posts-button-container {
  margin-top: 60px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
  margin: 30px 0;
}

.post-form,
.comment-form {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 10px;
}

.comment-form {
  width: 40%;
}

.post-form h1,
.comment-form h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.post-form label,
.comment-form label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.post-form input[type="text"],
.post-form textarea,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.post-form textarea,
.comment-form textarea {
  height: 150px;
}

.new-post {
  padding-top: 50px;
  text-align: center;
}

.new-post-detail-button,
.add-comment-button,
.delete-post-button,
.post-form input[type="submit"],
.likes-form input[type="submit"],
.comment-form input[type="submit"] {
  padding: 5px;
  background-color: rgb(127, 210, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.new-post-detail-button,
.add-post-button,
.delete-post-button {
  margin: 20px 0 50px 0;
}

.delete-post-button {
  background-color: red;
}

.new-post-detail-button:hover,
.add-comment-button:hover,
.delete-post-button:hover,
.post-form input[type="submit"]:hover,
.likes-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
  box-shadow: 0 0 10px 10px rgba(12, 73, 48, 0.24);
  background: white;
  color: #1d6346;
  transform: scale(1.2);
}

.devise-container {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 40%;
  border: 1px solid black;
  box-shadow: 5px 10px;
}

.field {
  margin: 20px 0;
}

.actions {
  margin: 20px 0;
}

.devise-button {
  padding: 5px;
  background-color: rgb(127, 210, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.devise-button:hover {
  box-shadow: 0 0 10px 10px rgba(12, 73, 48, 0.24);
  background: white;
  color: #1d6346;
  transform: scale(1.2);
}

.devise-link {
  color: black;
}

.inner-field {
  width: 90%;
}

.delete-comment-button {
  color: red;
}
