/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 85%;
  margin: auto;
}

.users-header {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}

.user {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  width: 200px;
  height: 100px;
}

.user p {
  padding-top: 20px;
}

.bio {
  padding-top: 30px;
}

.post {
  padding: 20px 0;
}

.post-detail {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.post-detail-text {
  padding: 50px 0;
}

.post-form {
  text-align: center;
  margin-top: 100px;
}

.comment-form {
  text-align: center;
  margin-top: 100px;
}

.user-detail-button,
.users-back-button,
.see-all-posts {
  padding: 5px;
  width: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: rgb(194, 199, 194);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.user-detail-button:hover,.users-back-button:hover,.see-all-posts:hover {
  box-shadow: 0 0 10px 10px rgba(12, 73, 48, 0.24);
  background: white;
  color: #1d6346;
  transform: scale(1.2);
}

.users-back-button,
.see-all-posts {
  width: 150px;
  margin-top: 20px;
}

.post-detail-button {
  margin-top: 20px;
  padding: 5px;
  width: 50px;
}

.log-in-container, .sign-up-container, .forgot-password-container {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 40%;
  border: 1px solid black;
  box-shadow: 5px 10px;
}
.field {
  margin: 20px 0;
}

.actions {
  margin: 20px 0;
}

.button-log-in, .button-sign-up, .button-password, .new-post-detail-button {
  padding: 5px;
  background-color: rgb(127, 210, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.button-log-in:hover, .button-sign-up:hover, .button-password:hover, .new-post-detail-button:hover {
  box-shadow: 0 0 10px 10px rgba(12, 73, 48, 0.24);
  background: white;
  color: #1d6346;
  transform: scale(1.2);
}

.new-post-detail-button {
  margin-top: 20px;
  position: relative;
  left: 50%;
}

.link-log-in, .link-sign-up, .link-forgot-password, .link-confirmation {
  color: black;
}

.inner-field {
  width: 90%;
}

.delete-post-button, .delete-comment-button {
  margin-top: 50px;
  padding: 5px;
  color: red;
}
